#film-container {
    display: flex;
    flex-wrap: wrap;
  }

.upcoming-film-section {
background: #111111;
margin-top: 60px;
}

.upcoming-film-section-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 1.18;
text-transform: uppercase;
color: var(--white);
margin-bottom: 28px;
}

.upcoming-wrap {
    display: flex;
    gap: 16px;
}


.film-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 1.18;
color: var(--white);
margin-bottom: 28px;
}

  .film-image {
    width: 800px;
    height: 458px;
    object-fit: cover;
  }
  
  .film-release-date, .film-rating {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: #B7B7B7;
    margin-bottom: 12px;
  }
  
  .film-rating {

  }
  
  .film-genres {
    margin-top: 5px;
  }
  
  .film-description {
    margin-top: 10px;
    max-width: 390px;
    color: var(--white);
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #F8F8F8;
  }
  
  .library-button {
    margin-top: 10px;
  }