/* MOBILE */

.weekly-section {
 padding-top: 40px;
 padding-bottom: 32px;
 background-color: var(--black);
}

.weekly-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.weekly-section-title {
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-transform: uppercase;
  color: var(--white);
}

.trends-film {
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--orange);
}

.weekly-info {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}


@media screen and (min-width: 768px) {

.weekly-section {
    padding-top: 52px;
    padding-bottom: 44px;
}

.weekly-links {
 display: flex;
 gap: 16px;
}

.weekly-section-title {
  font-size: 24px;
  line-height: 1.16;
}

.trends-film {
  font-size: 24px;
  line-height: 1.16;
}
}

@media screen and (min-width: 1280px) {
 .weekly-section {
  padding-top: 80px;
  padding-bottom: 60px;
}

.weekly-wrap {
  margin-bottom: 28px;
}

.weekly-section-title {
 font-size: 28px;
  line-height: 1.17;
}

.trends-film {
  font-size: 24px;
  line-height: 1.17;
}

}





/* Rating stars */

.simple-rating {
  position: relative;
  font-size: 40px;
  display: inline-block;
}
 
 /* Псевдоелемент для спільної обгортки */ 
 .simple-rating::before {
  content:"★★★★★";
  display: block;
}



.simple-rating_items {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}

.simple-rating_item {
  position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
}

.simple-rating_label {
  flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: #f87719;
}

.simple-rating_label::before {
  content: "★";
  display: block;
  transition: color 0.3s ease 0s;
}

.simple-rating_item:checked,
.simple-rating_item:checked~.simply-rating_label {
  color: #f87719;
}

.simple-rating_label:hover,
.simple-rating_label:hover ~ .simple-rating_label,
.simple-rating_label:checked ~ .simple-rating_label:hover {
  color: wheat;
}




/* .star-text {
  color: orange;
} */

/* .rating {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  padding: 0px;
  gap: 4px;
  font-size: 40px;
  line-height: 0.75;

  position: absolute;
  width: 86px;
  height: 14px;
  left: 202px;
  top: 887px;
}

.rating_body {
  position: relative;
}

.rating_body::before {
  content: '★★★★★';
  display: block;
}

.rating_active {
  position: absolute;
  width: 0%;
  height: 100%;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

.rating_active::before {
  content: '★★★★★';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: linear-gradient(
    141.22deg,
    #f84119 9.4%,
    rgba(248, 159, 25, 0.68) 91.91%
  );
}

.rating_items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

.rating_item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating_value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
} */
/* 



.icon-star {
  stroke: orange;
  fill: var(--basic-gradient);
}

.icon-star-half {
  stroke: orange;
  fill: orange;
}

.icon-star-outline {
  stroke: orange;
  fill: white;
} */
