/* MOBILE */

.weekly-section {
  padding-top: 40px;
  padding-bottom: 32px;
  background-color: var(--black);
  transition: background-color var(--transition);
}

.light .weekly-section {
  background-color: var(--white);
  transition: background-color var(--transition);
}

.weekly-section .weekly-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.weekly-section-title {
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-transform: uppercase;
  color: var(--white);
}

.light .weekly-section-title {
  color: var(--black);
  transition: background-color var(--transition);
}

.trends-film {
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--orange);
}

.weekly-info {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .weekly-section {
    padding-top: 52px;
    padding-bottom: 44px;
  }

  .weekly-links {
    display: flex;
    gap: 16px;
  }

  .weekly-section-title {
    font-size: 24px;
    line-height: 1.16;
  }

  .trends-film {
    font-size: 24px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1280px) {
  .weekly-section {
    padding-top: 80px;
    padding-bottom: 60px;
  }

  .weekly-wrap {
    margin-bottom: 28px;
  }

  .weekly-section-title {
    font-size: 28px;
    line-height: 1.17;
  }

  .trends-film {
    font-size: 24px;
    line-height: 1.17;
  }
}
