/* ==== BUTTON ==== */
.button {
  display: block;
  /* background: transparent; */
  padding: 12px 24px;
  border-radius: 74px;
  cursor: pointer;
  border: 1px solid transparent;

  /* text */
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-align: center;

  }
  .btn-gradient {
    background: var(--basic-gradient);
    color: var(--black);
    transition: var(--transition);
    transition: color 100ms linear;
  }
  
  .btn-gradient:hover,
  .btn-gradient:focus {
    color: var(--orange);
    background: linear-gradient(var(--white), var(--white)) padding-box,
    linear-gradient(to right, #ffc226 100%, var(--orange) 100%) border-box;
  }

/* ===Dark theme ===== */

.btn-border-dark {
  background: linear-gradient(var(--black), var(--black)) padding-box,
    linear-gradient(to right, #ffc226 100%, var(--orange) 100%) border-box;
  color: var(--white);
  transition: var(--transition);
}

.btn-border-dark:hover,
.btn-border-dark:focus {
  background: var(--white);
  color: var(--orange);

}
/* ===Ligth theme ===== */

.btn-border-light {
   background: linear-gradient(var(--white), var(--white)) padding-box,
    linear-gradient(to right, #ffc226 100%, var(--orange) 100%) border-box;
  color: var(--black);
  transition: var(--transition);
}

.btn-border-light:hover,
.btn-border-light:focus {
  background: var(--black);
  color: var(--orange);
  ;
}

.btn-transparent-dark {
  border: 1px solid var(--white);
  color: var(--white);
  transition: var(--transition);
}
.btn-transparent-dark:hover,
.btn-transparent-dark:focus {
  background: var(--white);
  color: var(--orange);
 }

 .btn-transparent-light  {
  background: transparent;
  border: 1px solid var(--black);
  color: var(--black);
  transition: var(--transition);
}
.btn-transparent-light:hover,
.btn-transparent-light:focus {
  background: var(--black);
  color: var(--orange);
 }