/* ==== BUTTON ==== */
.button {
  display: block;
  /* background: transparent; */
  padding: 12px 24px;
  border-radius: 74px;
  cursor: pointer;
  border: 1px solid transparent;
  font-family: 'Roboto-Medium',sans-serif;
    /* text */
  font-size: 12px;
  line-height: 1.16;
  text-align: center;
}

.btn-gradient {
  border: 1px solid var(--black);
  background: var(--basic-gradient);
  color: var(--black);
  transition: var(--transition);
  transition: color 100ms linear;
}
.light .btn-gradient {
  border: 1px solid var(--white);
}
.light .btn-gradient:hover {
  border: 1px solid var(--orange);
}

.btn-gradient:hover,
.btn-gradient:focus {
  color: var(--orange);
  border: 1px solid var(--orange);
  background: var(--white);
}

/* ===Dark theme ===== */

.btn-border-dark {
  background: linear-gradient(var(--black), var(--black)) padding-box,
    linear-gradient(to right, #ffc226 100%, var(--orange) 100%) border-box;
  color: var(--white);
  transition: var(--transition);
}

.btn-border-dark:hover,
.btn-border-dark:focus {
  background: var(--white);
  color: var(--orange);
}
/* ===Ligth theme ===== */

.light .btn-border-dark {
  background: linear-gradient(var(--white), var(--white)) padding-box,
    linear-gradient(to right, #ffc226 100%, var(--orange) 100%) border-box;
  color: var(--black);
  transition: var(--transition);
}

.light .btn-border-dark:hover,
.light .btn-border-dark:focus {
  background: var(--black);
  color: var(--orange);
}

.btn-transparent-dark {
  background: transparent;
  border: 1px solid var(--white);
  color: var(--white);
  transition: var(--transition);
}
.btn-transparent-dark:hover,
.btn-transparent-dark:focus {
  background: var(--white);
  color: var(--orange);
}

.light .btn-transparent-dark {
  background: transparent;
  border: 1px solid var(--black);
  color: var(--black);
  transition: var(--transition);
}
.light .btn-transparent-dark:hover,
.light .btn-transparent-dark:focus {
  background: var(--black);
  color: var(--orange);
}
