<section class="container catalog-search light-theme">
  <form class="catalog-search-form light-theme" id="search-form">
    <input
      class="catalog-search-input light-theme-input"
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search"
    />
    <button type="button" class="catalog-button-reset light-theme-btn  hidden ">
        <svg class="icon-reset " width="24" height="24">
            <use href="./img/symbols.svg#close"></use>
        </svg>
      </button>
    <button type="submit" class="button btn-gradient catalog-search-button light-theme-btn ">
        <svg class="icon-search " width="20" height="20">
            <use href="./img/symbols.svg#search"></use>
          </svg>
    </button>
  </form>
</section>
