<section class="container catalog-search">
  <form class="catalog-search-form" id="search-form">
    <input
      class="catalog-search-input"
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search"
    />
    <button type="submit" class="button btn-gradient catalog-search-button">
      <svg class="icon-search " width="20" height="20">
        <!-- <use xlink:href="./images/icon.svg#icon-search"></use> -->
      </svg>
    </button>
    <button type="button" class="catalog-button-reset hidden">
        <svg class="icon-reset " width="24" height="24">
          <!-- <use xlink:href="./images/icon.svg#icon-search"></use> -->
        </svg>
      </button>
  </form>
</section>
