<div class="team team__backdrop is-hidden">
  <div class="team__wrapper container">
    <button class="team__modal-close-btn" type="button">
      <svg class="team__modal-close-icon" width="20" height="20">
        <use href="./img/symbols.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="team__title">Our cool team</h2>
    <ul class="team__list">
      <li class="team__item">
        <div class="team__wrap">
          <div class="team-img-wrap">
            <img
              class="team__img"
              loading="lazy"
              src="./img/01-ilia-shatokhin.jpg"
              alt="Illia-Shatokhin"
              width="240"
            />
          </div>
        </div>
        <div class="team__box">
          <h2 class="team__member">Illia Shatokhin</h2>
          <p class="team__role">Team Lead | Developer</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/illia-shatokhin-48b247265/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/symbols.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/Illia-Shatokhin"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/symbols.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            loading="lazy"
            src="./img/02-ruslana-onyshchuk.jpeg"
            alt="Ruslana Onyshchuk"
          />
        </div>
        <div class="team__box">
          <p class="team__member">Ruslana Onyshchuk</p>
          <p class="team__role">Scrum Master | Developer</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/ruslana-onyshchuk-527872267/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/symbols.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/Ruslaana"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/symbols.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            loading="lazy"
            src="./img/03-daryna-tarasenko.jpg"
            alt="Daryna Tarasenko"
          />
        </div>
        <div class="team__box">
          <p class="team__member">Daryna Tarasenko</p>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="www.linkedin.com/in/tarasenko-daryna-527084246"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/symbols.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/DarynaTar"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/symbols.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            loading="lazy"
            src="./img/04-hennadii-samofal.jpg"
            alt="Hennadii Samofal"
          />
        </div>
        <div class="team__box">
          <p class="team__member">Hennadii Samofal</p>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="http://linkedin.com/in/hennadii-samofal-a7b564278"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/symbols.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/Cosmits"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/symbols.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            loading="lazy"
            src="./img/05-kateryna-kharkova.jpg"
            alt="Kateryna Kharkova"
          />
        </div>
        <div class="team__box">
          <p class="team__member">Katerina Kharkova</p>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/kateryna-kha/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/symbols.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/KaterinaKha"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/symbols.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            loading="lazy"
            src="./img/06-nadiia-samborska.jpg"
            alt="Nadiia Samborska"
          />
        </div>
        <div class="team__box">
          <p class="team__member">Nadiia Samborska</p>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/symbols.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/sNadiia"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/symbols.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            loading="lazy"
            src="./img/07-serhii-podhornyi.jpg"
            alt="Serhii Podhornyi"
          />
        </div>
        <div class="team__box">
          <p class="team__member">Serhii Podhornyi</p>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/%D1%81%D0%B5%D1%80%D0%B3%D1%96%D0%B9-%D0%BF%D0%BE%D0%B4%D0%B3%D0%BE%D1%80%D0%BD%D0%B8%D0%B9-6521b3279/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/symbols.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/SerJ1327"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/symbols.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            loading="lazy"
            src="./img/08-daryna-merkulova.jpg"
            alt="Daryna Merkulova"
          />
        </div>
        <div class="team__box">
          <p class="team__member">Daryna Merkulova</p>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/symbols.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/DarinaMerkulova"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/symbols.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            loading="lazy"
            src="./img/09-volodymyr-kozlovskyi.jpg"
            alt="Volodymyr Kozlovskyi"
          />
        </div>
        <div class="team__box">
          <p class="team__member">Volodymyr Kozlovskyi</p>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/symbols.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/VolodymyrKoz"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/symbols.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            loading="lazy"
            src="./img/10-olena-tshevik.jpg"
            alt="Olena Tshevik"
          />
        </div>
        <div class="team__box">
          <p class="team__member">Olena Tshevik</p>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/symbols.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/olita16?tab=overview&from=2023-05-01&to=2023-05-31"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/symbols.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            loading="lazy"
            src="./img/11-halyna-kantser.jpg"
            alt="Halyna Kantser"
          />
        </div>
        <div class="team__box">
          <p class="team__member">Halyna Kantser</p>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="http://linkedin.com/in/galyna-kantser-70098a278"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/symbols.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/mandarinca"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/symbols.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            loading="lazy"
            src="./img/12-gabriella-marusyak.jpg"
            alt="Gabriella Marusyak"
          />
        </div>
        <div class="team__box">
          <p class="team__member">Gabriella Marusyak</p>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/gabriella-marusyak-322190278/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/symbols.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/GabriellaMar"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/symbols.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__item">
        <div class="team__wrap">
          <img
            class="team__img"
            loading="lazy"
            src="./img/13-Dmytro-Yermakov.jpg"
            alt="Dmytro Yermakov"
          />
        </div>
        <div class="team__box">
          <p class="team__member">Dmytro Yermakov</p>
          <p class="team__role">Front End Developer</p>
          <a
            class="team__link-linkedin team__link-linkedin--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://www.linkedin.com/in/dmytro-iermakov-b23312141/"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/symbols.svg#icon-linkedin"></use>
            </svg>
          </a>
          <a
            class="team__link-github team__link-github--active"
            target="_blank"
            rel="noopener noreferrer nofollow"
            href="https://github.com/DmytroErmakov"
          >
            <svg class="team__icon" width="25" height="25">
              <use href="./img/symbols.svg#icon-github"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
