<header class="mobile-header">
  <!-- <link rel="stylesheet" href="/header.css" /> -->
  <div class="logo-container">
    <a href="index.html"><img src="img/logo.png" alt="Your Logo" /></a>
  </div>
  <div class="menu-container">
    <button id="menu-toggle">MENU</button>
    <div id="mobile-menu" class="hidden">
      <div class="menu-content">
        <a href="index.html"><img src="img/logo.png" alt="Your Logo" /></a>
        <ul class="menu-list">
          <li><a href="home.html">HOME</a></li>
          <li><a href="catalog.html">CATALOG</a></li>
          <li><a href="my-library.html">MY LIBRARY</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="theme-slider-container">
    <label class="switch">
      <input type="checkbox" id="theme-toggle" />
      <span class="slider round"></span>
    </label>
  </div>
  <script src="js/header.js"></script>
</header>
