<header class="">
  <div class="container mobile-header">
    <!--<link rel="stylesheet" href="/header.css" />-->

    <div class="logo-container">
      <a class="main-logo" href="./index.html">
        <img style="padding: 0" src="./img/tablet-logo.png" alt="Your Logo" />
        <p class="logo-text">Cinemania</p>
      </a>
    </div>

    <nav id="table-menu" class="table-desktop">
      <ul class="table-menu">
        <li class="space">
          <a class="hover-text" href="./index.html">HOME</a>
        </li>
        <li class="space">
          <a class="hover-text" href="./catalog.html">CATALOG</a>
        </li>
        <li><a class="hover-text" href="./my-library.html">MY LIBRARY</a></li>
      </ul>
    </nav>
    <div class="menu-container checkbox">
      <input type="checkbox" id="menu-toggle" />
      <label for="menu-toggle" class="menu-toggle-label">MENU</label>
      <div id="mobile-menu" class="">
        <div class="menu-content">
          <button id="close-menu" class="close-button" aria-label="Close menu">
            <span aria-hidden="true">&times;</span>
          </button>
          <a href="index.html"
            ><img class="menu-logo" src="img/tablet-logo.png" alt="Your Logo"
          /></a>
          <ul class="menu-list">
            <li><a class="hover-text" href="index.html">HOME</a></li>
            <li><a class="hover-text" href="catalog.html">CATALOG</a></li>
            <li><a class="hover-text" href="my-library.html">MY LIBRARY</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="theme-slider-container">
      <label class="switch">
        <input type="checkbox" id="theme-toggle" />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
</header>

<!-- <script src="/src/js/header.js"></script>-->
