<div class="modal-backdrop">
  <div class="modal-film-window">
    <button class="modal-close-btn">
      <svg class="modal-close-icon" whidth="24" height="24">
        <use href="../public/favicon.png" width="22" height="22"></use>
      </svg>
    </button>
    <img
      class="film-poster-img"
      src="../img/hero-library-mob.jpg"
      alt="poster of the selected film"
    />
    <div class="about-film-wrapper">
      <h2 class="film-tittle">John Wick: Chapter 4</h2>
      <div class="film-list-wrapper">
        <ul class="first-about-film-list">
          <li class="about-film-item">Vote / Votes</li>
          <li class="about-film-item">Popularity</li>
          <li class="about-film-item">Genre</li>
        </ul>
        <ul class="second-about-film-list">
          <li class="about-film-item">7.3 / 1260</li>
          <li class="about-film-item">100.2</li>
          <li class="about-film-item">Action Thriller Crime</li>
        </ul>
      </div>
      <p class="about-film-tittle">About</p>
      <p class="about-film-story">
        John Wick (Keanu Reeves) takes on his most lethal adversaries yet in the
        upcoming fourth instalment of the series. With the price on his head
        ever increasing, John Wick uncovers a path to defeating The High Table.
        But before he can earn his freedom, Wick must face off against a new
        enemy with powerful alliances across the globe and forces that turn old
        friends into foes.
      </p>
      <button class="add-film-btn">Add to my library</button>
    </div>
  </div>
</div>
