body {
  background-color: var(--white);
  transition: background-color 0.5s ease;
}

body.dark-theme {
  background-color: var(--black);
  color: var(--white);
}

body.dark-theme .menu-content {
  background-color: var(--black);
}

body.dark-theme #mobile-menu {
  background-color: rgba(255, 255, 255, 0.2);
}

.desktop-header {
  display: flex;
  width: 100%;
  height: 48px;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 20px;
  padding-left: 20px;
}

.desktop-header.dark-theme {
  background-color: var(--black);
  color: var(--white);
}
.hover-text {
  font-family: 'Roboto-Medium';
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  transition: color 0.3s ease; /* Transition for color property */
}

.hover-text:hover,
.hover-text:focus {
  color: var(--orange);
}
.mobile-header {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: space-between;
  margin: 8px 20px;
}
.tablet-menu {
  display: none;
}
.mobile-header.dark-theme {
  background-color: var(--black);
  color: var(--white);
}

/* Add styles for the close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  font-size: 18px;
}

.close-button.dark-theme {
  color: var(--white-smoke);
}

/* Modify the styles for the menu-content */
.menu-content {
  width: 204px;
  padding-left: 20px;
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 262.2px;
  border-radius: 5px;
  text-align: center;
  background-color: var(--white);
  position: relative;
}

.menu-content.dark-theme {
  background-color: var(--black);
  background: var(--black);
  color: var(--white-smoke);
}
.checkbox input[type='checkbox'] {
  opacity: 0;
}

.logo-container img {
  max-width: 100px; /* Adjust the size as per your logo dimensions */
}

.menu-container {
  display: flex;
  align-items: center;
}

#menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.logo-container img {
  max-width: 100px;
}

.menu-container {
  display: flex;
  align-items: center;
}

.mobile-header.dark-theme #menu-toggle,
.mobile-header.dark-theme .menu-content a {
  color: var(--white);
}

.mobile-header.dark-theme button,
.mobile-header.dark-theme #menu-toggle {
  color: var(--white);
}

#mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}
img {
  padding-bottom: 40px;
}
#mobile-menu.visible {
  transform: translateX(0);
}

.menu-content {
  width: 204px;
  border-radius: 5px;
  text-align: left;
  background-color: var(--white);
}

.menu-content.dark-theme {
  color: var();
  background-color: var(--black);
}

#mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#mobile-menu ul li {
  padding: 12px 0;
}

#mobile-menu ul li a {
  text-decoration: none;
}
.close-button {
  transition: color 0.3s ease;
  cursor: pointer;
}
.close-button:hover,
.close-button:focus {
  color: var(--orange);
}
.theme-slider-container {
  display: flex;
  align-items: center;
}
.menu-toggle-label {
  transition: color 0.3s ease;
  cursor: pointer;
}
.menu-toggle-label:hover,
.menu-toggle-label:focus {
  color: var(--orange);
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-left: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: var(--white-smoke);
  transition: 0.4s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
}

.switch input:checked + .slider:before {
  transform: translateX(20px);
}
.main-nav.dark-theme {
  background-color: var(--black);
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hidden {
    display: none;
  }
  .table-menu {
    display: flex;
    flex-direction: row;
  }
  .space {
    padding-right: 36px;
  }
  .menu-toggle-label {
    display: none;
  }

  .main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translateY(-50%);
  }

  .menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .menu-list li {
    padding: 0 10px;
  }

  .menu-list li a {
    color: var(--black);
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-container img {
    max-width: 45px;
    max-height: 36px;
  }

  .logo-container::after {
    content: 'Cinemania';
    margin-left: 10px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }
  .mobile-menu {
    display: flex;
    margin-left: 216px;
  }
}
@media (max-width: 768px) {
  .table-menu {
    display: none;
  }
  .table-desktop {
    display: none;
  }
}
@media (min-width: 1279px) {
  .hidden {
    display: none;
  }
  .table-menu {
    display: flex;
    flex-direction: row;
  }
  .space {
    padding-right: 40px;
  }
  .menu-toggle-label {
    display: none;
  }

  .main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translateY(-50%);
  }

  .menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .menu-list li {
    padding: 0 10px;
  }

  .menu-list li a {
    color: var(--black);
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-container img {
    max-width: 45px;
    max-height: 36px;
  }

  .logo-container::after {
    content: 'Cinemania';
    margin-left: 10px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }
  .mobile-menu {
    display: flex;
    margin-left: 216px;
  }
}
