.hero {
  padding-top: 40px;
  padding-bottom: 54px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1280px;
  margin: 0 auto;
}

.hero-title {
  font-family: 'Roboto-Bold';
  font-size: 32px;
  line-height: 1.18;
  color: var(--white);
  margin-bottom: 14px;
  width: 232px;
}

.reting-stars {
  margin-bottom: 21px;
}

.overview {
  display: block;
  font-family: 'Roboto-Regular';
  font-size: 14px;
  line-height: 1.14;
  max-width: 177px;
  height: 65px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  margin-bottom: 21px;
  color: var(--white-smoke);
}

.thumb-hero-btn {
  display: flex;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 36px;
    padding-bottom: 63px;
  }

  .hero-title {
    font-size: 44px;
    line-height: 1.18;
    width: 445px;
  }

  .overview {
    margin-bottom: 28px;
    max-width: none;
    width: 254px;
    height: 49px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 181px;
  }

  .hero-container {
    padding: 0 135px;
  }

  .hero-title {
    font-size: 64px;
    line-height: 1.17;
    margin-bottom: 18px;
    width: 670px;
  }

  .reting-stars {
    margin-bottom: 30px;
  }

  .overview {
    font-family: 'Roboto-Regular';
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 36px;
    width: 367px;
    height: 59px;
    color: var(--white-smoke);
  }

  .thumb-hero-btn {
    display: flex;
    gap: 8px;
  }
}
/* @media screen and (max-width: 413px) {
} */

/* @media screen and (min-width: 320px) {
    .container {
      max-width: 320px;
    }
  }
@media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      padding: 0 32px;
    }

  }
@media screen and (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  } */
