/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./components/reset.css');
@import './../../node_modules/modern-normalize/modern-normalize.css';
@import url('./components/fonts.css');
@import url('./components/variables.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./footer.css');
@import url('./modal-window.css');
@import url('./home/upcoming-this-month.css');
@import url('./home/weekly-trends.css');
@import url('./catalog/search.css');
@import url('./catalog/films.css');
@import url('./catalog/pagination.css');
@import url('./my-library/my-library-films.css');
