<section class="weekly-section">
  <div class="container">
    <div class="weekly-wrap">
      <p class="weekly-section-title">WEEKLY TRENDS</p>
      <a href="./catalog.html" class="trends-film">See All</a>
    </div>
    <div class="weekly-info">
      <ul class="weekly-links"></ul>
    </div>

    <!-- Rating stars -->

    <div class="film-card"></div>

    
    <div class="simple-rating">
      <div class="simple-rating_items">
        <input id="simple-rating_5" type="radio" class="simple-rating_item" name="simple-rating" value="5">
        <label for="simple-rating_5" class="simple-rating_label"></label>
          <input id="simple-rating_4" type="radio" class="simple-rating_item" name="simple-rating" value="4">
        <label for="simple-rating_4" class="simple-rating_label"></label>
          <input id="simple-rating_3" type="radio" class="simple-rating_item" name="simple-rating" value="3">
        <label for="simple-rating_3" class="simple-rating_label"></label>
          <input id="simple-rating_2" type="radio" class="simple-rating_item" name="simple-rating" value="2">
        <label for="simple-rating_2" class="simple-rating_label"></label>
          <input id="simple-rating_1" type="radio" class="simple-rating_item" name="simple-rating" value="1">
        <label for="simple-rating_1" class="simple-rating_label"></label>
      </div>
    </div>

    <!-- <div class="rating rating_set"> -->
    <!-- <div class="rating_body">
        <div class="rating_active"></div>
        <div class="rating_items">
          <input type="radio" class="rating_item" value="1" name="rating" />
          <input type="radio" class="rating_item" value="2" name="rating" />
          <input type="radio" class="rating_item" value="3" name="rating" />
          <input type="radio" class="rating_item" value="4" name="rating" />
          <input type="radio" class="rating_item" value="5" name="rating" />
        </div>
      </div> -->
    <!-- <div class="rating_value">3.6</div> -->
    <!-- </div> -->
  </div>
</section>
