<section class="weekly-section">
  <div class="container">
    <p class="weekly-section-title">WEEKLY TRENDS</p>
    <a href="" class="trends-film">See All</a>
    <div class="weekly-info">
      <ul class="weekly-links"></ul>
    </div>

    <!-- Rating stars -->

    <div class="film-card"></div>
    <!-- <div class="rating rating_set"> -->
      <!-- <div class="rating_body">
        <div class="rating_active"></div>
        <div class="rating_items">
          <input type="radio" class="rating_item" value="1" name="rating" />
          <input type="radio" class="rating_item" value="2" name="rating" />
          <input type="radio" class="rating_item" value="3" name="rating" />
          <input type="radio" class="rating_item" value="4" name="rating" />
          <input type="radio" class="rating_item" value="5" name="rating" />
        </div>
      </div> -->
      <!-- <div class="rating_value">3.6</div> -->
    <!-- </div> -->
  </div>
</section>
