.catalog-film-section {
  padding-top: 16px;
  padding-bottom: 20px;
  background-color: var(--black);
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.catalog-item {
  position: relative;

  width: 280px;
  height: 406px;

  background-size: cover;
  border-radius: 5px;
  cursor: pointer;
}

.catalog-item:hover,
.catalog-item:focus {
  transform: scale(1.05);
  box-shadow: 1px 1px 24px 2px rgba(1, 1, 1, 0.45);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.catalog-item:not(:hover):not(:focus) {
  transform: scale(1);
  box-shadow: 1px 1px 24px 2px rgba(1, 1, 1, 0);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.catalog-card-info-container {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 12px;
}

.film-info-container {
  display: flex;
  width: 256px;
  justify-content: space-between;
}

.catalog-card-title,
.catalog-card-description,
.rating {
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
}
.catalog-card-title {
  text-transform: uppercase;
  color: var(--white);
}

.catalog-card-description {
  color: var(--light-gray);
}
.rating {
  color: var(--white);
}

@media screen and (min-width: 768px) {
  .catalog-film-section {
    padding-top: 36px;
    padding-bottom: 44px;
  }

  .catalog-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 28px;
  }

  .catalog-item {
    width: 224px;
    height: 325px;
  }

  .catalog-card-title,
  .catalog-card-description,
  .rating {
    line-height: 1.5;
  }

  .film-info-container {
    width: 200px;
  }
}

@media screen and (min-width: 1280px) {
  .catalog-film-section {
    padding-top: 48px;
    padding-bottom: 56px;
  }

  .catalog-list {
    row-gap: 32px;
  }

  .catalog-item {
    width: 394px;
    height: 574px;
  }
  .catalog-card-title {
    margin-bottom: 10px;
  }

  .catalog-card-title,
  .catalog-card-description,
  .rating {
    font-size: 20px;
    line-height: 1.15;
  }

  .catalog-card-info-container {
    margin: 20px;
  }
  .film-info-container {
    width: 355px;
  }
}
