.container {
}

.catalog-search {
  padding-top: 80px;
  /* padding-bottom: 48px; */
}
.catalog-search-form {
  display: flex;
  height: 40px;
  max-width: 280px;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  gap: 16px;
  margin-right: auto;
  margin-left: auto;
}
.catalog-search-input {
  max-width: 224px;
  height: 100%;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
  padding: 10px 20px 10px 20px;
  
  font-size: 14px;
  line-height: 1.14;
  font-family: 'Roboto-Medium';
}

input::placeholder {
  color: #b7b7b7;
  font-size: 14px;
  line-height: 1.14;
  font-family: 'Roboto-Medium';
}

.catalog-search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  padding: 10px;
  fill: var(--orange);
  stroke: var(--white);
  transition: fill 100ms linear;
  transition: stroke 100ms linear;
}
.catalog-button-reset {
  background-color: var(--white);
  border-radius: 5px;
  height: 32px;
  border: 1px solid transparent;
  margin-left: -60px;
  outline: none;
  stroke: var(--white);
  transition: stroke 100ms linear;
}
.active {
  display: block;
}

.hidden {
  display: none;
}

.icon-search {
  width: 18px;
  height: 18px;
}
.catalog-search-button:hover,
.catalog-search-button:focus {
  stroke: var(--orange);
  fill: var(--white);
}

.catalog-button-reset:hover {
  stroke: var(--orange);
}

.icon-reset {
  /* stroke: var(--white); */
}

@media screen and (min-width: 768px) {
  .catalog-search-form {
    max-width: 264px;
    height: 44px;
    gap: 16px;
  }
  .catalog-search-input {
    max-width: 204px;
    height: 44px;
    /* padding: 12px 20px 12px 20px; */
  }
  .catalog-search-button {
    height: 44px;
    width: 44px;
    /* padding: 13px; */
  }
}
@media screen and (min-width: 1280px) {
  .catalog-search-form {
    max-width: 398px;
    height: 48px;
  }
  .catalog-search-input {
    max-width: 334px;
    height: 48px;
    padding: 12px 24px 12px 24px;
  }
  .catalog-search-button {
    height: 48px;
    width: 48px;
  }
  .icon-search {
    width: 20px;
    height: 20px;
  }
}
.dark-theme {
  background-color: var(--black);
}
.light-theme {
  background-color: #f5f5f5;
}
.dark-theme-input {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--white);
}
.light-theme-input {
  background-color: var(--white);
  color: var(--grey);
  border: 1px solid var(--gray);
}
.light-theme-btn {
  stroke: var(--black);
}
.catalog-button-reset-dark{
background-color: var(--black);
}