.catalog-search {
  padding-top: 80px;
  padding-bottom: 32px;
}
.catalog-search-form {
  display: flex;
  height: 40px;
  max-width: 280px;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  gap: 16px;
  margin-right: auto;
  margin-left: auto;
}
.catalog-search-input {
  width: 224px;
  height: 100%;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  /* border: 1px solid var(--white); */
  padding: 10px 20px 10px 20px;

  font-size: 16px;
  line-height: 1.14;
  font-family: 'Roboto-Medium';
  font-weight: 500;
}
 .catalog-selector {
  /* width: 224px; */
  height: 100%;
  border-radius: 8px;
  border: 1px solid var(--white);
  padding: 10px 20px 10px 20px;
  background-color: var(--black);
  color: var(--white);
  font-size: 16px;
  line-height: 1.14;
  font-family: 'Roboto-Medium';
  font-weight: 500;
}

input::placeholder {
  color: #b7b7b7;
  font-size: 16px;
  line-height: 1.14;
  font-family: 'Roboto-Medium';
}

.catalog-search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 12px;
  fill: var(--orange);
  stroke: var(--white);
  transition: fill 100ms linear;
  transition: stroke 100ms linear;
}
.catalog-button-reset {
  border-radius: 5px;
  height: 38px;
  border: 1px solid transparent;
  margin-left: -60px;
  outline: none;
  stroke: var(--white);
  transition: stroke 100ms linear;
}
.active {
  display: block;
}
.hidden {
  display: none;
}

/* .hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */
.icon-search {
  width: 18px;
  height: 18px;
}
.catalog-search-button:hover,
.catalog-search-button:focus {
  stroke: var(--orange);
  fill: var(--white);
}

.catalog-button-reset:hover,
catalog-button-reset:focus {
  stroke: var(--orange);
}

@media screen and (min-width: 768px) {
  .catalog-search-form {
    width: 264px;
    height: 44px;
    gap: 16px;
  }
  .catalog-search-input {
    width: 204px;
    height: 44px;
  }
  .catalog-search-button {
    height: 44px;
    width: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .catalog-search-form {
    width: 398px;
    height: 48px;
  }
  .catalog-search-input {
    width: 334px;
    height: 48px;
    padding: 12px 24px 12px 24px;
  }
  .catalog-search-button {
    height: 48px;
    width: 48px;
  }
  .icon-search {
    width: 20px;
    height: 20px;
  }
}
.dark-theme {
  background-color: var(--black);
}
.dark-theme-input {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--white);
}
.dark-theme-btn {
  stroke: var(--white);
}
.catalog-button-reset-dark {
  background-color: var(--black);
}

.light-theme {
  background-color: var(--white);
}
.light-theme-input {
  background-color: var(--white);
  color: var(--grey);
  border: 1px solid var(--gray);
}
.light-theme-btn {
  stroke: var(--black);
}
.catalog-button-reset-light {
  background-color: var(--white);
}
