/* =============  Mobile version ================== */
.catalog-search {
  background-color: var(--black);
  padding-top: 80px;
  padding-bottom: 55px;
}
.catalog-search-form {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 12px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--black);
}
.catalog-search-input {
  width: 173px;
  height: 40px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--white);

  font-size: 14px;
  line-height: 1.14;
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
}
.catalog-wrapper-selector {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.catalog-wrapper-selector-down {
  column-gap: 20px;
}

.catalog-selector {
  display: block;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--white);
  padding: 10px 20px 10px 20px;
  background-color: var(--black);
  color: var(--white);

  font-size: 14px;
  line-height: 1.14;
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
}
.catalog-selector option:checked {
  color: var(--orange);
}
/* .catalog-selector option:not(:checked) {
} */
.year {
  width: 95px;
  height: 40px;
  padding: 10px 16px 10px 16px;
}

.country {
  width: 220px;
  height: 40px;
}

/* .catalog-selector option {
  border-radius: 2px;
  border: 1px solid var(--white);
  transition: color 100ms linear;
  transition: font-size 100ms linear;
}
.catalog-selector option:hover {
  /* border: 1px solid var(--orange); */
/* font-size: 18px;
  color: var(--orange);
}  */

.catalog-search-input::placeholder {
  color: #b7b7b7;
  font-size: 16px;
  line-height: 1.14;
  font-family: 'Roboto-Medium', sans-serif;
}

.catalog-search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 100%;
  width: 40px;
  padding: 12px;
  fill: var(--orange);
  stroke: var(--white);
  transition: fill 100ms linear;
  transition: stroke 100ms linear;
}
.catalog-button-reset {
  padding: 7px;
  border-radius: 5px;
  height: 39px;
  border: 1px solid transparent;
  margin-left: -60px;
  outline: none;
  stroke: var(--white);
  transition: stroke 100ms linear;
  background-color: var(--black);
}
.active {
  display: block;
}
.hidden {
  display: none;
}
/* .hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */
.icon-search {
  width: 18px;
  height: 18px;
}
.catalog-search-button:hover,
.catalog-search-button:focus {
  stroke: var(--orange);
  fill: var(--white);
}

.catalog-button-reset:hover {
  stroke: var(--orange);
}
/* ======================== Tablet version ===================== */
@media screen and (min-width: 768px) {
  .catalog-search {
    padding-bottom: 0px;
  }
  .catalog-search-form {
    height: 44px;
    gap: 16px;
  }
  .catalog-selector {
    height: 44px;
  }
  .catalog-search-input {
    height: 44px;
    width: 188px;
  }
  .catalog-search-button {
    height: 44px;
    width: 44px;
  }
  .country {
    width: 181px;
    height: 44px;
  }
  .year {
    height: 44px;
  }

  .catalog-wrapper-selector-down {
    column-gap: 16px;
  }
}
/*  ================ Desktop version ================= */

@media screen and (min-width: 1280px) {
  .catalog-search-form {
    height: 48px;
  }
  .catalog-selector {
    height: 48px;
  }
  .catalog-wrapper-selector {
    column-gap: 20px;
    height: 48px;
  }
  .catalog-wrapper-selector-down {
    height: 48px;
    column-gap: 24px;
  }
  .catalog-search-input {
    font-size: 16px;
    height: 48px;
    width: 315px;
    padding: 12px 24px 12px 24px;
  }
  .catalog-selector {
    font-size: 16px;
  }
  .country {
    width: 281px;
  }
  .catalog-search-button {
    width: 48px;
  }
  .icon-search {
    width: 20px;
    height: 20px;
  }
}

/* ==================Dark and light property for catalog============== */
.light .catalog-search,
.light .catalog-search-form {
  background-color: var(--white);
}
.light .catalog-search-input {
  background-color: var(--white);
  color: var(--grey);
  border: 1px solid var(--gray);
}
.light .catalog-button-reset {
  background-color: var(--white);
  stroke: var(--black);
}
.light .catalog-search-button {
  stroke: var(--black);
}
.light .catalog-selector {
  border: 1px solid var(--gray);
  background-color: var(--white);
  color: var(--black);
}
.light .catalog-search-input::placeholder {
  color: var(--black);
}
.light .catalog-button-reset:hover {
  stroke: var(--orange);
}